/* * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

/* html {
  font-size: 62.5%;
  box-sizing: border-box;
} */

/* body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: antiquewhite;
} */

body {
  margin: 0;
}

canvas {
  /* border: 2px solid black; */
  background-color: antiquewhite;
}

/* ul {
  display: flex;
  list-style: none;
} */
